.weather-container.Clear {
  background-image: url('./assets/images/gunesli.jpeg');
  background-size: cover;
  background-position: center;
}

.weather-container.Clouds {
  background-image: url('./assets/images/bulutlu.jpeg');
  background-size: cover;
  background-position: center;
}

.weather-container.Rain {
  background-image: url('./assets/images/yagmurlu.jpeg');
  background-size: cover;
  background-position: center;
}

.weather-container.Snow {
  background-image: url('./assets/images/karli.jpeg');
  background-size: cover;
  background-position: center;
}

.weather-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease, background-image 0.5s ease;
  background-size: cover;
  background-position: center;
  color: #fff; /* Yazıları okunaklı yap */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.app-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.7); /* Koyu arka plan */
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-box button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #0056b3;
}

.weather-info {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}

.about-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.about-section {
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
}

.about-section h4 {
  font-size: 1.5rem;
  color: #333;
}

.about-section p {
  margin: 5px 0;
  line-height: 1.6;
  color: #555;
}
